:root {
    /* --primary-color: #6c63ff;  */
    /* --primary-color:linear-gradient(135deg, #6C63FF, #9FA4FF); */
    /* --primary-color : #5ED3B8; */
    /* --primary-color : #8ED1B2; */
    /* --primary-color : #C19A6B; */
    /* --primary-color : #6C63FF; */
    --primary-color : #8B85FF;

  }
  
  body {
    padding-top: 70px;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .text-primary {
    color: var(--primary-color) !important;
  }
  
  /* HERO */
  .hero-section {
    background: linear-gradient(135deg, var(--primary-color), #9fa4ff);
    color: white;
    padding: 100px 20px;
  }
  
  .search-box {
    display: flex;
    max-width: 500px;
  }
  
  .search-box input {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: 5px 0 0 5px;
  }
  
  .search-box button {
    padding: 12px 20px;
    border: none;
    background: white;
    color: var(--primary-color);
    font-weight: bold;
    border-radius: 0 5px 5px 0;
  }
  
  .popular a {
    margin: 0 8px;
    color: white;
    text-decoration: underline;
  }
  
  /* CATEGORY CARDS */
  .category-card {
    background: #f5f6ff;
    padding: 30px;
    text-align: center;
    border-radius: 12px;
    transition: 0.3s;
  }
  
  .category-card:hover {
    transform: translateY(-8px);
    background: var(--primary-color);
    color: white;
  }
  
  /* INFO SECTION */
  .info-section {
    padding: 80px 20px;
  }
  
  /* FOOTER */
  .footer {
    background: var(--primary-color);
    color: white;
    padding: 20px 0;
  }

  .recruitnet-footer {
    background: linear-gradient(135deg, var(--primary-color), #3f3d56);
    color: #ffffff;
    padding: 70px 0 30px;
  }
  
  .footer-logo {
    font-size: 28px;
    font-weight: bold;
  }
  
  .footer-logo span {
    color: #ffd369;
  }
  
  .footer-title {
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 600;
  }
  
  .footer-text {
    font-size: 14px;
    opacity: 0.9;
  }
  
  .recruitnet-footer ul {
    list-style: none;
    padding: 0;
  }
  
  .recruitnet-footer ul li {
    margin-bottom: 10px;
  }
  
  .recruitnet-footer ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    opacity: 0.85;
    transition: 0.3s;
  }
  
  .recruitnet-footer ul li a:hover {
    opacity: 1;
    padding-left: 5px;
  }
  
  .footer-contact p {
    font-size: 14px;
    margin-bottom: 6px;
  }
  
  .newsletter {
    display: flex;
    border-bottom: 1px solid rgba(255,255,255,0.4);
  }
  
  .newsletter input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    padding: 8px 0;
    flex: 1;
  }
  
  .newsletter input::placeholder {
    color: rgba(255,255,255,0.7);
  }
  
  .newsletter button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
  }
  
  .footer-bottom {
    font-size: 13px;
    opacity: 0.8;
    margin-top: 20px;
  }
  
  .recruitnet-footer hr {
    border-color: rgba(255,255,255,0.2);
    margin: 30px 0;
  }

